@import url('https://fonts.googleapis.com/css?family=Balthazar');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  background-image: url('./185bd5f7e236127545bc873dd42230b1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  font-family: 'Balthazar', serif;
  text-align: center;
  color: white;
  padding:20px;
}

h1{
    font-size:50pt;
}

html{
    background-color:white;
}

.Custom{
    margin: 0 auto;
}

.Custom h2{
    display:block;
    padding-right: 20px;
    font-family: 'VT323', monospace;
    font-size:40pt;
    margin:0;
}

select{
    font-family: 'Balthazar', serif;
}