@import url('https://fonts.googleapis.com/css?family=Balthazar');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  background-image: url('./Fantasy_World.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h1{
    font-family: 'Balthazar', serif;
    text-align: center;
    padding-top:50px;
    margin-top:0px;
    font-size:60pt;
    color: white;
    text-shadow: 4px 4px black;
}

.Custom h2{
    display:block;
    font-family: 'VT323', monospace;
    text-align:center;
    padding-right:20px;
    margin-top:0px;
    margin-bottom:0px;
    font-size:45pt;
    color: white;
    text-shadow: 4px 4px black;
}

select{
    font-family: 'Balthazar', serif;
    margin-left:690px;
    padding:5px;
    font-size:20px;
}

button {
    font-family:'Balthazar', serif;
    margin-left: 635px;
    margin-top:35px;
    font-size:30px;
}

.Printable p{
    color: white;
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
}

.Printable{
    margin-top: 0px;
    padding-top: 0px;
}

.caller{
    display:none;
}
