@import url('https://fonts.googleapis.com/css?family=Balthazar');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  background-image: url('./Fantasy_World.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

h1{
    font-family: 'Balthazar', serif;
    text-align: center;
    padding-top:50px;
    margin-top:0px;
    font-size:60pt;
    color: white;
    text-shadow: 4px 4px black;
}

.Custom h2{
    font-family: 'VT323', monospace;
    text-align:center;
    padding-right:20px;
    margin-top:0px;
    margin-bottom:0px;
    font-size:45pt;
    color: red;
    text-shadow: 3px 3px black;
}

select{
    font-family: 'Balthazar', serif;
    margin: 10px auto;
    display: block;
    padding:5px;
    font-size:20px;
}

button {
    font-family:'Balthazar', serif;
    margin:20px auto;
    display: block;
    font-size:30px;
}

#charSheet{
    margin:0px auto;
    padding-top:20px;
    text-align: center;
    font-size:32pt;
}

.Printable h3{
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    margin: 40px 20px;
}

.caller{
    display:none;
}

.Printable{
    width:70%;
    height:100vh;
    top:100px;
    margin:0 auto;
    background-color: white;
    font-family: 'VT323', monospace;
}

.statList{
    list-style: none;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}

.statList li{
    padding:15px 0px 80px 0px;
    width:100px;
    border:1px black solid;
    text-align: center;
    margin:10px 10px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.ClassSkills{
    display: none;
}